{% extends "testit/base.html" %}

{% block content %}


  {% if question %}
    <h1 style="color: rgb(219, 227, 227);">{{ question.title }}</h1>
    <p style="color: white;">{{ question.statement }}</p>
  {% else %}
    <h1 style="color: rgb(219, 227, 227);">Paste your code here:</h1>
  {% endif %}

  {% if show_editor or show_code_form %}
    <form method="post">
      {% csrf_token %}
      <p>{{ form.language.label_tag }} {{ form.language }}</p>
      <p>{{ form.code.label_tag }}<br>{{ form.code }}</p>
      {% if show_editor %}
        <p><strong style="color: white;">Input:</strong></p>
        <p>{{ form.user_input.label_tag }}<br>{{ form.user_input }}</p>
        {% if no_expected is not True %}
          <p><strong style="color: white;">Expected Output:</strong></p>
          <p>{{ form.expected_output.label_tag }}<br>{{ form.expected_output }}</p>
        {% endif %}
        <h2 style="color:white;">Output:</h2>
        <pre style="background:#102563; padding:1em;">{{ output }}</pre>
      {% endif %}
      <button type="submit">Run</button>
    </form>
    {% if success is not None %}
      {% if success %}
        <p style="color: green;">Success</p>
      {% else %}
        <p style="color: red;">Failure</p>

        {% if show_code_form and not show_editor %}
          <p style="color: red;"> wrong answer on test case {{wrong_test_case}}</p>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if not show_editor and not show_code_form %}
    <form method="post">
      {% csrf_token %}
      <button type="submit">Solve this</button>
    </form>
  {% endif %}


{%endblock%}